{% extends 'base.html' %}

{% block content %}
    <div class="about-div">
        <h1>About the Finch Collector</h1>
        <hr />
        <p>Our mission is to help connect people to nature.</p>
        <p>Take a look around and discover the world of Finches!</p>
        <img class="about-img" src="https://www.sonyaz.net/images/galeri/2020/05/1590261886_rosefinches2.png" alt="">
    </div>    
    <footer class="about-footer">All Rights Reserved, &copy; 2022 Finch Collector</footer>
  </body>
</html>
{% endblock %}